@font-face {
    font-family: 'raiderfont';
    src: url('./fonts/Raiderfont-FontZillion/Fonts/raiderfont.ttf');
}
@font-face {
    font-family: 'alliance';
    src: url('./fonts/AllianceFontFamily/DegarismStudio-AllianceNo.1Light.otf');
}
@font-face{
    font-family: 'muli-black';
    src:url('./fonts/Muli-Black/muli/Muli-Black.ttf');
}
@font-face{
    font-family: 'muli-black';
    src:url('./fonts/Muli-Black/muli/Muli-Bold.ttf');
    font-weight: bold;
}
@font-face{
    font-family: 'muli-black';
    src:url('./fonts/Muli-Black/muli/Muli-Italic.ttf');
    font-style: italic;
}
@font-face{
    font-family: 'muli-black';
    src:url('./fonts/Muli-Black/muli/Muli-Light.ttf');
    font-weight: lighter;
}
body{
    font-family: 'Open Sans', sans-serif!important;
}
.bgPattern{
    background-color: #000000;
    background-attachment: fixed;
    background-size: 115% auto;
}
.alliance{
    font-family: 'alliance';
}
.muli{
    font-family: 'muli-black';
}
.muli-bold{
    font-family: 'muli-black';
    font-weight: bold;
}
.pinkText{
    color:#ffa7c4;
}
.whiteText{
    color: #B5BFD2;
}
.dirtyWhiteBg{
    background-color:#B5BFD2!important;
}
.cyanText{
    color: #a1cdf4;
}
.blueText{
    color:#212738;
}
.corben{
    font-family: 'Corben', cursive;
}
.divider{
    background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-clip: border-box;
    background-position: 58% 50%;
    background-size: 500%;
    -webkit-animation: gradient-shift 20s ease infinite;
    -moz-animation: gradient-shift 20s ease infinite;
    animation: gradient-shift 20s ease infinite;
    height:0.5px;
}
.whitePinkText{
    color:#ffffff;
}
.smallImg{
    max-height: 250px!important;
    width: auto;
}
.cyanBg{
    background-color: #daecfb!important;
}
.pinkWhiteBg{
    background-color: #ffd6e2!important;
}
.darkPinkText{
    color: #ff8bae;
}
.darkPinkBg{
    background-color: #ff8bae!important;
}
.openSans{
    font-family: 'Open Sans', sans-serif;
}
a .pinkText:hover{
    color: #ffc2d6;
}
.pointer{
    cursor: pointer!important;
}
.social1{
    color: #FFE580;
}
.social2{
    color: #EA5DAD;
}
.social3{
    color: #3BF0E4;
}
.social4{
    color: #B2F4B6;
}
.paperFont{
    font-size: 13px;
}
.gradient-text {
    background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-clip: border-box;
    background-position: 58% 50%;
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: gradient-shift 20s ease infinite;
    -moz-animation: gradient-shift 20s ease infinite;
    animation: gradient-shift 20s ease infinite;
    -webkit-text-fill-color: transparent;
}
.gradient-text-1 {
    background: linear-gradient(87.54deg, #9867F0 -6.8%, #ED4E50 84.14%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-clip: border-box;
    background-position: 58% 50%;
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: gradient-shift 15s ease infinite;
    -moz-animation: gradient-shift 15s ease infinite;
    animation: gradient-shift 15s ease infinite;
    -webkit-text-fill-color: transparent;
}
.gradient-text-2 {
    background: linear-gradient(87.54deg,  #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-clip: border-box;
    background-position: 58% 50%;
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: gradient-shift 15s ease infinite;
    -moz-animation: gradient-shift 15s ease infinite;
    animation: gradient-shift 15s ease infinite;
    -webkit-text-fill-color: transparent;
}
.customCard{
    /* border: 10px solid; */
    /* border-image-source: linear-gradient(87.54deg, #9867F0 -6.8%, #ED4E50 84.14%); */
    background-color: inherit;
    /* border-image-slice: 1; */
    /* border-width: 1px; */
}
.border-gradient-purple{
    border-radius: 20px;
    border: 10px solid;
    border-image-source:  linear-gradient(87.54deg,  #ED4E50, #9867F0);
    background-color: inherit;
    border-image-slice: 1;
    border-width: 1px;
}
.border-gradient-green{
    border: 10px solid;
    border-image-source:  linear-gradient(92.05deg, #3BF0E4 , #33CE43);
    background-color: inherit;
    border-image-slice: 1;
    border-width: 1px;
}
.border-gradient-red{
    border: 10px solid;
    border-image-source:  linear-gradient(53.13deg, #FFD33D 0%, #FB8532 19.02%, #EA4A5A 37.19%);
    background-color: inherit;
    border-image-slice: 1;
    border-width: 1px;
}
.customButton{
    color: #fff;
    font-family: 'muli-black';
    font-weight: bold;
    -webkit-transition: all, 0.2s, ease-in;
    -moz-transition: all, 0.2s, ease-in;
    -o-transition: all, 0.2s, ease-in;
    transition: all, 0.2s, ease-in;
}
.customButton:hover{
    background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-clip: border-box;
    background-position: 58% 50%;
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: gradient-shift 5s ease infinite;
    -moz-animation: gradient-shift 5s ease infinite;
    animation: gradient-shift 5s ease infinite;
    -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
	background: linear-gradient(89.46deg, #2188FF .87%, #804EDA 75.12%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

.text-gradient-purple {
    background: linear-gradient(87.54deg,  #ED4E50, #9867F0 , #ED4E50);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

.text-gradient-red {
    background: linear-gradient(53.13deg, #FFD33D 0%, #FB8532 19.02%, #EA4A5A 37.19%, #8A63D2 56.92%, #2188FF 79.93%, #34D058 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

.text-gradient-pink {
	background: linear-gradient(92.05deg, #BCA1F7 12.09%, #E577B4 42.58%, #FF7170 84.96%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}
.text-gradient-green{
    background: linear-gradient(92.05deg, #3BF0E4 , #33CE43,#3BF0E4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}
@keyframes gradient-shift {
    0% {
      background-position: 58% 50%;
    }
    25% {
      background-position: 100% 0%;
    }
    75% {
      background-position: 10% 50%;
    }
    to {
      background-position: 58% 50%;
    }
  }
  @-moz-keyframes gradient-shift {
    0% {
      background-position: 58% 50%;
    }
    25% {
      background-position: 100% 0%;
    }
    75% {
      background-position: 10% 50%;
    }
    to {
      background-position: 58% 50%;
    }
  }
  @-webkit-keyframes gradient-shift {
    0% {
      background-position: 58% 50%;
    }
    25% {
      background-position: 100% 0%;
    }
    75% {
      background-position: 10% 50%;
    }
    to {
      background-position: 58% 50%;
    }
  }
  